
<header id="title-container" class="site-header col-lg-12">


	<div class="pull-left col-sm-1 glyphicon col-lg-1 col-md-1 col-sm-1 col-xs-1">
	</div>  <!-- ./ panetoggler -->

	<div id="title-copy" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
		<span class="cvjek-title">
			C.C. Miller:
		</span>
		<span class="cvjek-title-sub">
			digital cv
			<!-- ccmdcv -->
		</span>
	</div>
	<div id="paneToggler" class="pull-left col-sm-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="left" title="click (or press alt/opt key) to toggle more/less map"></div><!-- ./ panetoggler -->

</header>
