<!DOCTYPE html>
<html>

{% include head.html %}

<body ontouchstart="">
  <div id="map">
  </div>

  {% include header.html %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="list-group col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" id="posts-menu">loading menu...</div>

  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div><!-- filler-->
  <div id="active-post-container" class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-right"></div><!-- active-post-container -->
</div>

  {% include footer.html %}

</body>
</html>
